.messageBox2 {
    border-radius: 3px;
    padding: 8px 20px;
    padding-bottom: 0px;
    background: #6211C8;
    width: 100%;
    margin-top: 3px;

  }
  
  .messageText2 {
    width: 100%;
    text-align: left;
    font-size: 1em;
    word-wrap: break-word;
  }
  
  
  .messageContainer2 {
    display: flex;
    justify-content: flex-end;
    padding: 0.5% 5%;
  }
  
  
  
  
  
 
  
  .colorWhite2 {
    color: white;
  }
  
  
  
  
  
  