.polls {
    width: 60px;
    position: fixed;
    display: flex;
    bottom: 0.9%;
    right: 34%;
    margin-top: -175px;
    border-radius: 4px;
    background-color: white;
    /* padding-bottom: 4px;
    padding-top: 4px; */
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);

}
.box {
   
        display: flex;
        column-gap: 10px;
   
}

.sec {
    display: flex;
    gap: 22px;
}
