
.upload {
    width:260px;
    position: fixed;
    display: flex ;
    bottom: 1%;
    left: 0%;
    margin-top: -175px;
    border-radius: 4px;
    padding: 10px;
    flex-direction: row;
    padding-bottom: 4px;
    padding-top: 4px;
    

}
