.video-box {
  width: 23%;
  height: 34%;
  position: fixed;
  display: block;
  right: 0%;
  /* margin-top: -175px; */
  border-radius: 4px;
  background-color: white;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4px;
  padding-top: 4px;
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);
}

.video {
  width: 100%;
  height: fit-content;
}

.video2 {
  width: 100%;
  height: fit-content;
}

.video-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -10px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
}

.video-bar button {
  margin-right: 10px;
}
