.prag {
    width: 76%;
    height: 45%;
    position:fixed;
    display: flex;
    bottom: 2%;
    right: 23.5%;
    margin-top: -175px;
    border-radius: 4px;
    background-color: white;
    /* padding-bottom: 4px;
    padding-top: 4px; */
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);

}


.result{
    /* min-height: 80px; */
    left: 0;
    right: 0;
    top: 10%;
    position: absolute;
    display:block;
    gap: 20px;
    padding: 20px;
}




.se {
    width: 95%;
    min-height: 80px;
    height: 33%;
    top: 25%;
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.sem {
    width: 95%;
    min-height: 80px;
    height: 33%;
    top: 60%;
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 20px;
}
