.sharescreen-stu {
  /* width: 300px; */
  width: auto;
  position: fixed;
  display: flex;
  bottom: 1%;
  right: 23.5%;
  left: 1%;
  top: 42px;
  border-radius: 4px;
  background-color: white;
  z-index: 5;
  /* padding-bottom: 4px;
    padding-top: 4px; */
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);
}

.header-share-tab-stu {
  width: 100%;
  height: 30px;
  display: flex;
  position: absolute;
  /* background-color: black ; */
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);
}

.screen-video-stu {
  width: 100%;
  height: fit-content;
}

.screen-headerbox-box-cell-stu :hover {
  background-color: #f44336;
}

.screen-headerbox-box-cell-stu {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.fullscreen-headerbox-box-cell-stu :hover {
  background-color: #5c5352;
}

.fullscreen-headerbox-box-cell-stu {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.close-headerbox-cell-stu {
  width: 25px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  position: relative;
}

.close-btn-stu :hover {
  background-color: #f44336;
}

.close-btn-stu {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: center;
  width: 40px;
  align-items: center;
  top: 0;
  bottom: 0;
  z-index: 5;
  cursor: pointer;
}

.fullscreen-btn-stu :hover {
  background-color: #736f6f;
}

.fullscreen-btn-stu {
  display: flex;
  position: absolute;
  right: 40px;
  justify-content: center;
  width: 40px;
  align-items: center;
  top: 0;
  bottom: 0;
  z-index: 5;
  cursor: pointer;
}

.video-holder-div-stu {
  margin-top: 30px;
  width: 100%;
}
